@model List<Edukator.EntityLayer.Concrete.CourseRegister>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Member/Views/MemberLayout/Index.cshtml";
    int count = 0;
}

<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Course Name</th>
        <th>Go to Course</th>
    </tr>
    @foreach (var item in Model)
    {
        count++;
        <tr>
            <td>@count</td>
            <td>@item.Course.Title</td>
            <td><a href="#" class="btn btn-primary">Go to Course</a></td>
        </tr>
    }
</table>